<app-navbar></app-navbar>
<div style="display: flex; gap:10px; flex-wrap: wrap; justify-content: center;
    color:rgb(232, 226, 226);">

    <mat-card *ngFor="let movie of movies;"
        style="width: 320px; height: 20%; background-color: rgb(34, 40, 46);">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle style="color:rgb(232, 223, 223);">Directed by:
                {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt={{movie.Title}}
            style="height: 360px;" />
        <mat-card-actions
            style="display: flex; justify-content: space-between;">
            <button mat-raised-button color="primary"
                (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
                Genre
            </button>
            <button mat-raised-button color="primary" (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Bio)">
                Director
            </button>
            <button mat-raised-button color="primary"
                (click)="openSynopsisDialog(movie)">
                Synopsis
            </button>

            <button mat-icon-button style="width: auto;" color="primary"
                (click)="toggleFav(movie)">
                <mat-icon *ngIf="!isFav(movie)" style="transform: scale(1.5);"
                    color="warn">favorite_border</mat-icon>
                <mat-icon *ngIf="isFav(movie)" style="transform: scale(1.5);"
                    color="warn">favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>