<mat-card style="display: flex; ">
    <mat-card-header style="margin: 10px auto; font-size:xx-large;">
        <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form style="display: flex; flex-direction: column;">
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Username"
                    placeholder="Username" type="text" name="Username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Password" type="password"
                    placeholder="Password" name="Password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Email" type="email"
                    placeholder="Email" name="Email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Birthday" type="date"
                    placeholder="Birthday" name="Birthday">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="registerUser()" color="primary"
            style="margin: 5px auto;">
            Sign Up
        </button>
    </mat-card-actions>
</mat-card>