<mat-card style="max-width: 460px;">
    <mat-card-header>
        <mat-card-title>
            <h1>{{ movie.Title }}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ movie.Description }}</p>
        <p><span style="background-color: rgb(192, 196, 196);"> Actors </span>:
            {{
            movie?.Actors }}</p>
        <p>{{ movie?.ReleaseYear }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="closeDialog()">
            Close
        </button>
    </mat-card-actions>
</mat-card>